@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "pokeball";

.input-pokemon {
  position: relative;
  top: 250px;
  margin: 0 auto;
  display: block;
  width: 400px;
}

.pokemon {
  margin: 16px;
  border: 1px solid black;
  border-radius: 4px;
  .header-wrapper {
    margin: 0 auto;
    display: block;
  }
  h4 {
    width: 100%;
    display: inline-block;
    div {
      display: inline-block;
      position: relative;
      left:15px;
    }
  }
  img {
    margin: 0 auto;
    display: block;

  }

}

.chart-wrapper {
  canvas {
    width: 100px;
  }
}